<div class="footer" fxFlex="100">
		  
	<div fxFlex.gt-sm="80" fxFlex.lt-md="90" fxFlexOffset.gt-sm="10" fxFlexOffset.lt-md="5">	  
	<div fxLayout="column">
		<div class="footer-links" fxFlex="100" fxLayout fxLayoutWrap>
	    	<div fxFlex.gt-sm="33" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" >
	    		<a fxFlex href="https://www.docker.com/what-docker">Openbravo ERP</a>
	    		<a fxFlex href="https://www.docker.com/what-docker">Control de incidencias</a>
	    		<a fxFlex href="https://www.docker.com/what-docker">Gestión y envío de encuentas</a>
	    	</div>
	    	
	    	<div fxFlex.gt-sm="33" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start" >
	    		<a fxFlex href="https://www.docker.com/what-docker">Alfresco</a>
	    		<a fxFlex href="https://www.docker.com/what-docker">Correo</a>
	    		<a><!--  --></a>
	    	</div>
	    	
	    	<div fxFlex.gt-sm="33" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="start start">
	    		<a fxFlex href="https://www.docker.com/what-docker">JSIA - Sistema de información de Alimarket</a>
	    		<a fxFlex href="https://www.docker.com/what-docker">JSEC - Envío de cuestionarios</a>
	    		<a><!--  --></a>
	    	</div>
	    </div>
	    
	    <div class="footer-help" fxFlex="100" fxLayoutAlign="end start">
         	<a href="https://www.docker.com/what-docker">Sugerencia</a>
         	<a href="https://www.docker.com/what-docker">Incidencia</a>
     	</div>

		<div class="footer-copyright" fxFlex="100">
         	<p>Copyright © 2017-2018 Publicaciones Alimarket, S.A.</p>
     	</div>
	</div>
	</div>
</div>
