<mat-button-toggle-group #group="matButtonToggleGroup" >
<table>
	<tr>
		<td>Online</td>
		<td>
			<mat-button-toggle value="1234">
			gsakjdgdnfbv
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="2345">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="3456">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="4567">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="5678">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		
	</tr>

	<tr>
		<td>Alimentación</td>
		<td>
			<mat-button-toggle value="left">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
	</tr>
	
	<tr>
		<td>Envase</td>
		<td>
			<mat-button-toggle value="left">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="left">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
		<td>
			<mat-button-toggle value="left">
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
			</mat-button-toggle>
		</td>
	</tr>
	
	<tr>
		<td>Non Food</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Logística</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	
	<tr>
		<td>Hoteles</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Restauración</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Construcción</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Electro</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Salidad</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>
	
	<tr>
		<td>Tendencias (Trends)</td>
		<td>
			<mat-card class="example-card">
  				<mat-card-header>
	    			<mat-card-title>id. 125468</mat-card-title>
	    			<mat-card-subtitle>Publicada / Pte. envío</mat-card-subtitle>
  				</mat-card-header>
  				
			</mat-card>
		</td>
	</tr>

</table>
</mat-button-toggle-group>