<div fxFlex="100" fxLayout="column">
	<div fxLayout="column"><app-newsletters-header></app-newsletters-header></div>
	<div fxLayout.gt-sm="row" fxLayout.lt-md="column">
		<section fxFlex.gt-sm="250px" fxFlex.lt-md="100"><app-newsletters-navbar></app-newsletters-navbar></section>
		<section fxFlex="100" fxLayout="column">
			<div fxFlex="100">Newsleters</div>
			<app-newsletters-panel></app-newsletters-panel>
		</section>
		<section fxFlex.gt-sm="400px" fxFlex.lt-md="100"><app-newsletters-navbar></app-newsletters-navbar></section>
	</div>
</div>