<div fxFlex="100" fxLayout="column">
	<div fxLayout="column"><app-titulares-header></app-titulares-header></div>
	<div fxLayout.gt-sm="row" fxLayout.lt-md="column">
		<section fxFlex.gt-sm="250px" fxFlex.lt-md="100"><app-titulares-navbar></app-titulares-navbar></section>
		<section fxFlex="100" fxLayout="column">
			<div fxFlex="100">Newsleters</div>
			<app-titulares-panel></app-titulares-panel>
		</section>
		<section fxFlex.gt-sm="400px" fxFlex.lt-md="100"><app-titulares-navbar></app-titulares-navbar></section>
	</div>
</div>